.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.toggle-filters-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.filters-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.apply-button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.activity-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    text-align: center;
}

.activity-details {
    margin-top: 20px;
    text-align: left;
}

.map-container {
    margin: 10px 0;
}

.child-select {
    padding: 10px;
    width: 100%;
}

.primary-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.danger-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.warning-button {
    background-color: #ff9800;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gray-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.avis-section {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

.commentaire-textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.avis-liste {
    margin-top: 20px;
    text-align: center;
}

.avis-item {
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 80%;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    margin: 0 auto;
}

.etoiles {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.etoile,
.etoile-active {
    font-size: 20px;
}

.etoile-active {
    color: gold;
}

.etoile {
    color: gray;
}
